/*ESTILO MENU*/
header.container .row {
  display: flex;
  justify-content: space-around;
  background-color: #df6445;
  border-radius: 3rem; }
  header.container .row nav div.container div.collapse ul li a.menu:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #cc4421;
    border-radius: 3rem; }
  header.container .row nav div.container div.collapse ul li a.menu:active {
    transform: translateY(4px);
    transform: scale(0.7rem);
    background-color: #cc4421;
    font-size: 0.7rem; }
  header.container .row nav div.container div.collapse ul li a.menu {
    border-radius: 3rem;
    margin: 1rem; }

header.container .logoimg {
  width: 10%;
  height: 10%;
  border-radius: 50%;
  padding: 3px; }

/*ESTILO FOOTER*/
footer.container {
  margin-top: 1rem;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center; }
  footer.container div p {
    display: inline-block;
    background-color: #df6445;
    border-radius: 3rem;
    padding: 1rem; }

/*ESTILOS DE BOTONES*/
.botonIndex {
  font-size: 1rem;
  font-family: "Anton", sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  border: 1px solid black;
  background-color: #cc4421;
  border-radius: 3rem; }
  .botonIndex a {
    color: black;
    text-decoration: none; }

.botonIndex:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #be1111;
  border-radius: 3rem; }

.botonIndex:active {
  transform: translateY(4px);
  transform: scale(0.7rem);
  background-color: #be1111;
  font-size: 0.7rem; }

.botonContacto {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 3rem;
  background-color: #cc4421; }
  .botonContacto a {
    text-decoration: none;
    color: black; }

.botonContacto:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #be1111;
  border-radius: 3rem; }

.botonContacto:active {
  transform: translateY(4px);
  transform: scale(0.7rem);
  background-color: #be1111;
  font-size: 0.7rem; }

.enviado:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 3rem; }

.enviado:active {
  background-color: #21c929;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 0.7rem;
  text-transform: uppercase;
  border-radius: 3rem;
  transform: translateY(4px); }

.borrar:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 3rem; }

.borrar:active {
  background-color: #be1111;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 0.7rem;
  text-transform: uppercase;
  border-radius: 3rem;
  transform: translateY(4px); }

.whatsapp {
  font-size: 1rem;
  font-family: "Anton", sans-serif;
  padding: 1rem;
  border: 1px solid black;
  background-color: #21c929;
  border-radius: 3rem;
  text-transform: uppercase; }
  .whatsapp a {
    text-decoration: none;
    color: black; }

.whatsapp:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-transform: uppercase;
  background-color: #04611b;
  border-radius: 3rem; }

.whatsapp:active {
  transform: translateY(4px);
  transform: scale(0.7rem);
  background-color: #04611b;
  font-size: 0.7rem; }

/* ESTILOS PAGES*/
.contenedor {
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .contenedor main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    padding: 2rem; }
    .contenedor main img {
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      width: 80%;
      height: 80%;
      border-radius: 2rem;
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      border: 4px solid black; }
    .contenedor main h1 {
      display: inline-block;
      text-align: center;
      font-size: 3rem;
      font-family: "Poppins", sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      background-color: #df6445;
      border-radius: 1rem;
      padding: 1rem; }
    .contenedor main p {
      font-size: 1rem;
      font-family: "Poppins", sans-serif;
      text-align: center;
      font-weight: bold;
      background-color: #df6445;
      border-radius: 1rem;
      padding: 1rem; }
  .contenedor section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem; }
    .contenedor section .tarjeta {
      background-color: #df6445;
      width: 100%;
      height: 100%;
      padding: 1rem;
      margin: 1rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 3rem; }
      .contenedor section .tarjeta img {
        width: 100%;
        border-radius: 50%;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        border: 2px solid black; }
      .contenedor section .tarjeta h2 {
        text-align: center;
        font-size: 2rem;
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
        font-weight: bold; }
      .contenedor section .tarjeta p {
        font-size: 1rem;
        font-family: "Poppins", sans-serif;
        text-align: center;
        font-weight: bold; }

.contenedorDesayuno {
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .contenedorDesayuno .mainDesayuno {
    margin: 5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .contenedorDesayuno .mainDesayuno div.main {
      margin: 1rem;
      padding: 1rem; }
      .contenedorDesayuno .mainDesayuno div.main h1 {
        display: inline-block;
        background-color: #df6445;
        text-align: center;
        font-size: 3rem;
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        padding: 1rem;
        border-radius: 3rem; }
      .contenedorDesayuno .mainDesayuno div.main p {
        padding: 1rem;
        border-radius: 3rem;
        background-color: #df6445;
        font-size: 1rem;
        font-family: "Poppins", sans-serif;
        text-align: center;
        font-weight: bold; }
    .contenedorDesayuno .mainDesayuno img {
      margin-top: 3rem;
      margin-bottom: 1.5rem;
      width: 60%;
      height: 70%;
      border-radius: 3rem;
      border: 4px solid black;
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
  .contenedorDesayuno .sectionDesayuno {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 5rem;
    padding: 1rem; }
    .contenedorDesayuno .sectionDesayuno div h2 {
      text-align: center;
      background-color: #df6445;
      font-size: 3rem;
      font-family: "Poppins", sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      border-radius: 3rem;
      padding: 1rem; }
    .contenedorDesayuno .sectionDesayuno div p {
      background-color: #df6445;
      font-size: 1rem;
      font-family: "Poppins", sans-serif;
      text-align: center;
      font-weight: bold;
      border-radius: 3rem;
      padding: 1rem; }
    .contenedorDesayuno .sectionDesayuno img {
      margin-left: 1rem;
      margin-right: 3rem;
      width: 30%;
      height: 30%;
      border-radius: 50%;
      border: 4px solid black;
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
  .contenedorDesayuno .sectionDosDesayuno {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; }
    .contenedorDesayuno .sectionDosDesayuno div {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 5rem;
      padding: 3rem; }
      .contenedorDesayuno .sectionDosDesayuno div h3 {
        text-align: center;
        font-size: 3rem;
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        background-color: #df6445;
        border-radius: 3rem; }
      .contenedorDesayuno .sectionDosDesayuno div p {
        font-size: 1rem;
        font-family: "Poppins", sans-serif;
        text-align: center;
        font-weight: bold;
        background-color: #df6445;
        border-radius: 3rem;
        padding: 1rem; }
      .contenedorDesayuno .sectionDosDesayuno div img.cafe {
        border: 4px solid black;
        border-radius: 3rem;
        width: 80%;
        margin: 1.5rem;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
      .contenedorDesayuno .sectionDosDesayuno div img.img {
        border: 4px solid black;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
        height: 150%;
        width: 100%;
        border-radius: 3rem;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.contenedorVianda {
  background-image: url(../img/fondo.jpg);
  background-size: cover; }
  .contenedorVianda .mainVianda {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .contenedorVianda .mainVianda .main {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #df6445;
      margin: 3rem;
      padding: 2rem;
      border-radius: 3rem;
      text-align: center; }
      .contenedorVianda .mainVianda .main h1 {
        font-size: 2rem;
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 3rem;
        padding: 1rem; }
      .contenedorVianda .mainVianda .main h2 {
        font-size: 2rem;
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
        font-weight: bold; }
      .contenedorVianda .mainVianda .main p {
        font-size: 1rem;
        font-family: "Poppins", sans-serif;
        font-weight: bold; }
    .contenedorVianda .mainVianda .videos {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 3rem;
      padding: 2rem;
      border-radius: 3rem; }
      .contenedorVianda .mainVianda .videos div {
        margin: 1rem;
        padding: 1rem; }
        .contenedorVianda .mainVianda .videos div h3 {
          margin-bottom: 2rem;
          text-align: center;
          font-size: 2rem;
          font-family: "Poppins", sans-serif;
          text-transform: uppercase;
          font-weight: bold;
          background-color: #df6445;
          border-radius: 3rem;
          padding: 1rem; }
        .contenedorVianda .mainVianda .videos div iframe {
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          border: 4px solid black;
          border-radius: 3rem; }
      .contenedorVianda .mainVianda .videos div {
        margin-top: 4rem;
        padding: 1rem; }
        .contenedorVianda .mainVianda .videos div h3 {
          margin-bottom: 2rem;
          text-align: center;
          font-size: 2rem;
          font-family: "Poppins", sans-serif;
          text-transform: uppercase;
          font-weight: bold;
          background-color: #df6445;
          border-radius: 3rem;
          padding: 1rem; }

.contenedorReposteria {
  background-image: url(../img/fondo.jpg);
  background-size: cover; }

.bootstrap {
  background-image: url(../img/fondo.jpg);
  background-size: cover; }
  .bootstrap .carrocel {
    border-radius: 3rem;
    width: 100%;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    border: 4px solid black; }
  .bootstrap .tarjetaContacto {
    background-color: #df6445;
    border-radius: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase; }
    .bootstrap .tarjetaContacto img {
      border-radius: 3rem;
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      border: 2px solid black; }
  .bootstrap main.container .row h1 {
    border-radius: 3rem;
    background-color: #df6445; }
  .bootstrap aside.container {
    margin-top: 6rem; }
    .bootstrap aside.container .row {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .bootstrap aside.container .row div div {
        background-color: #df6445;
        border-radius: 3rem; }
        .bootstrap aside.container .row div div h3 {
          display: inline-block;
          text-align: center;
          font-size: 1.5rem;
          font-family: "Poppins", sans-serif;
          text-transform: uppercase; }
        .bootstrap aside.container .row div div .card-subtitle {
          display: inline-block;
          text-align: center;
          font-size: 1.2rem;
          font-family: "Poppins", sans-serif;
          text-transform: uppercase;
          color: white; }
        .bootstrap aside.container .row div div p {
          display: inline-block;
          text-align: center;
          font-size: 1rem;
          font-family: "Poppins", sans-serif;
          text-transform: uppercase; }
      .bootstrap aside.container .row div form {
        background-color: #df6445;
        border-radius: 3rem; }
        .bootstrap aside.container .row div form fieldset {
          display: inline-block;
          text-align: center;
          font-size: 1rem;
          font-family: "Poppins", sans-serif;
          text-transform: uppercase; }
          .bootstrap aside.container .row div form fieldset legend {
            display: inline-block;
            text-align: center;
            font-size: 3rem;
            font-family: "Poppins", sans-serif;
            text-transform: uppercase; }
          .bootstrap aside.container .row div form fieldset label {
            display: inline-block;
            text-align: center;
            font-size: 3rem;
            font-family: "Poppins", sans-serif;
            text-transform: uppercase; }
          .bootstrap aside.container .row div form fieldset input {
            display: inline-block;
            text-align: center;
            font-size: 3rem;
            font-family: "Poppins", sans-serif;
            text-transform: uppercase; }
      .bootstrap aside.container .row .row {
        padding: 1rem; }
  .bootstrap .tarjetaContactos {
    border-radius: 3rem;
    background-color: #df6445; }

@media (max-width: 900px) and (min-width: 412px) {
  .contenedor {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .contenedor section {
      flex-wrap: wrap; }
      .contenedor section .tarjeta img {
        width: 50%; }
    .contenedor main img {
      width: 100%; }
    .contenedor main h1 {
      font-size: 2.5rem; }
    .contenedor main p {
      font-size: 0.8rem; }
  .contenedorDesayuno {
    flex-wrap: wrap; }
    .contenedorDesayuno .mainDesayuno {
      flex-wrap: wrap; }
      .contenedorDesayuno .mainDesayuno div {
        flex-direction: column;
        justify-content: center;
        align-items: center; }
      .contenedorDesayuno .mainDesayuno .sectionDesayuno {
        flex-wrap: wrap; }
        .contenedorDesayuno .mainDesayuno .sectionDesayuno div {
          flex-direction: column;
          justify-content: center;
          align-items: center; }
      .contenedorDesayuno .mainDesayuno .sectionDosDesayuno {
        flex-wrap: wrap; }
        .contenedorDesayuno .mainDesayuno .sectionDosDesayuno div {
          flex-direction: column;
          justify-content: center;
          align-items: center; } }

@media (max-width: 412px) and (min-width: 280px) {
  .contenedor {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .contenedor section {
      flex-wrap: wrap; }
      .contenedor section .tarjeta img {
        width: 50%; }
    .contenedor main img {
      width: 100%; }
    .contenedor main h1 {
      font-size: 2rem; }
    .contenedor main p {
      font-size: 0.8rem; }
  .contenedorDesayuno {
    flex-wrap: wrap; }
    .contenedorDesayuno .mainDesayuno {
      flex-wrap: wrap; }
      .contenedorDesayuno .mainDesayuno div {
        flex-direction: column;
        justify-content: center;
        align-items: center; }
      .contenedorDesayuno .mainDesayuno .sectionDesayuno {
        flex-wrap: wrap; }
        .contenedorDesayuno .mainDesayuno .sectionDesayuno div {
          flex-direction: column;
          justify-content: center;
          align-items: center; }
      .contenedorDesayuno .mainDesayuno .sectionDosDesayuno {
        flex-wrap: wrap; }
        .contenedorDesayuno .mainDesayuno .sectionDosDesayuno div {
          flex-direction: column;
          justify-content: center;
          align-items: center; } }
