.contenedor {
  background-image: url(../img/fondo.jpg); }
  .contenedor header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffb4b4, #b2a4ff, #ffdeb4, #fff9ca 2; }
