/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*pagina principal layout*/
.contenedor{
    height: 100vh;
    display: grid ;
    grid-template-rows: 1fr 1.5fr 0.2fr;
    grid-template-areas: 
    
    "main main main main"
    "section section section section"
    "footer footer footer footer";
}


header{
    grid-area: header;
    
}
main{
    grid-area: main;
    text-align: center;
}
section{
    grid-area: section;
    display: flex;

    
    

}
footer{
    grid-area: footer;
}
/*style index*/
.tarjeta{
    text-align: center;
    margin: 0.5rem;
    padding: 0.3rem;
    border: 2px solid black;
  
  
}
section .tarjeta img{
    height: 60%;
    width:80% ;
}
.container div img{
    height: 180px;
    width: 200px;
}
/*layout desayunos*/
.contenedor-desayuno{
    height: 100vr;
    display: grid;
    grid-template-rows: ;
    grid-template-areas: 
    "main-desayuno main-desayuno section-dos-desayuno "
    "section-desayuno section-desayuno section-dos-desayuno"
}

.main-desayuno{
    grid-area: main-desayuno;
}
.section-desayuno{
    grid-area: section-desayuno;
}
.section-dos-desayuno{
    grid-area: section-dos-desayuno;
    flex-wrap: wrap;
}
.section-dos-desayuno img{
    height: ;
    width: ;
}

/*layout reposteria*/
.contenedorReposteria{
    height: 100vr;
    display: grid;
    grid-template-rows: ;
    grid-template-areas: 
    "mainReposteria mainReposteria"
    "sectionReposteria sectionReposteria";
}

.mainReposteria{
    grid-area: mainReposteria;
    
}

.sectionReposteria{
    grid-area: sectionReposteria;
    display: flex;
    margin: 1rem;
}

/*viandas layout*/
.contenedorVianda{
    height: 100vh;
    display: grid ;
    grid-template-rows: 1fr 1.5fr 0.2fr;
    grid-template-areas: 
    
    "mainVianda sectionVianda "
    "mainVianda sectionVianda "
    "footerVianda footerVianda"
    ;
}

.mainVianda{
    grid-area: mainVianda;
}
.sectionVianda{
    grid-area: sectionVianda;
    flex-wrap: wrap;
}
.footerVianda{
    grid-area:footerVianda;
    display: flex;
}

/*bootstrap-pages-conctato*/


header.container{
    background-color: ;
    font-size: ;
}

main.container{
    background-color: ;
}
main.container div.row h1{
    font-size: ;
}
 

section.container{
    display: flex;
    justify-content:space-around;
    background-color: ;
    font-size: ;
}

aside.container{ 
    display: flex;
    justify-items:space-around ;
}
 
footer.container div.row h2{
    font-size: ;
   
}
footer.container{
    background-color: ;

}

    
    



