@import"base/variables";
@import"base/listas";
@import"base/mapas";
@import"base/extend";

.contenedor{
    background-image: url(../img/fondo.jpg);
   header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $colores 2;


   }
}
      