@import"base/variables";
@import"base/listas";
@import"base/mapas";
@import"base/extend";
/*ESTILO MENU*/
header.container{
    .row{
        display: flex;
        justify-content: space-around;
        background-color:nth($colores, 2);
        border-radius: 3rem;
        nav{
            div.container{
                div.collapse{
                    ul{
                        li{
                            a.menu:hover{
                                box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                                font-size: 1rem;
                                text-transform: uppercase;
                                background-color: nth($colores , 3);
                                border-radius: 3rem;
                            }
                            a.menu:active{
                                transform: translateY(4px);
                                transform: scale(0.7rem);
                                background-color: nth($colores , 3);
                                font-size: 0.7rem;
                            }
                            a.menu{
                                border-radius: 3rem;
                                margin: 1rem;
                            }
                           
                        }
                    }
                }
            }
        }
    }
    .logoimg{
        width: 10%;
        height: 10%;
        border-radius: 50%;
        padding: 3px;
    }
}
/*ESTILO FOOTER*/
footer.container{
    margin-top: 1rem;
    font-size: 1rem ;
    font-family:$tipografia-secundaria;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    div{
        p{
            display: inline-block;
            background-color:nth($colores, 2);
            border-radius: 3rem;
            padding: 1rem;
        }
    }
}
/*ESTILOS DE BOTONES*/
.botonIndex{
    font-size: 1rem ;
    font-family:$tipografia-principal;
    text-align: center;
    text-transform: uppercase;
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
    border: 1px solid black;
    background-color:nth($colores, 3); 
    border-radius:3rem ;
    a{
        color: black;
        text-decoration: none;
    }
}
.botonIndex:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 1rem;
    text-transform: uppercase;
    background-color: nth($colores , 1);
    border-radius: 3rem;
}
.botonIndex:active{
    transform: translateY(4px);
    transform: scale(0.7rem);
    background-color: nth($colores , 1);
    font-size: 0.7rem;
}
.botonContacto{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 3rem;
    background-color:nth($colores, 3);
   
    a{
        text-decoration: none;
        color: black;
    }
}
.botonContacto:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 1rem;
    text-transform: uppercase;
    background-color: nth($colores , 1);
    border-radius: 3rem;
}
.botonContacto:active{
    transform: translateY(4px);
    transform: scale(0.7rem);
    background-color:nth($colores , 1);
    font-size: 0.7rem;
}
.enviado:hover{
    //background-color:nth($colores, 4);
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 3rem;
}
.enviado:active{
    background-color: nth($colores, 4);
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 0.7rem;
    text-transform: uppercase;
    border-radius: 3rem;
    transform: translateY(4px);
}
.borrar:hover{
   // background-color: nth($colores, 1);
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 3rem;
}
.borrar:active{
    background-color:nth($colores, 1);
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 0.7rem;
    text-transform: uppercase;
    border-radius: 3rem;
    transform: translateY(4px);
}
.whatsapp{       
    font-size: 1rem ;
    font-family:$tipografia-principal;
    padding: 1rem;
    border: 1px solid black;
    background-color:nth($colores, 4);
    border-radius: 3rem;
    text-transform: uppercase;
    a{
        text-decoration: none;
        color: black;  
    }
}
.whatsapp:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-transform: uppercase;
    background-color:nth($colores, 5);
    border-radius: 3rem;
}
.whatsapp:active{
    transform: translateY(4px);
    transform: scale(0.7rem);
    background-color:nth($colores , 5) ;
    font-size: 0.7rem;
}
/* ESTILO IMAGENES*/
.carrocel{
    border-radius: 3rem;
    width: 100%;
}
.tarjetaContacto{
    background-color:nth($colores, 2);
    border-radius: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    img{
        border-radius: 3rem;
        padding: 1rem;
    }
}
main.container{
    margin-top: 6rem;
.row{
    h1{
        background-color:nth($colores, 2);
        border-radius: 3rem;
    }
    .row{
        padding: 1rem;
    }
}

}

.tarjetaContactos{
    border-radius: 3rem;
    background-color:nth($colores, 2);
    .card-body{
        
        
    }
    
}
.contenedor{
    background-image: url(../img/fondo.jpg);
    background-size:cover;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        margin: 3rem ;
        padding: 2rem;
        img{
            margin-top: 1rem;
            margin-bottom: 1.5rem;
            width: 80%;
            height: 80%;
            border-radius: 2rem;
            padding: 5px;
        }
        h1{
            display: inline-block;
            text-align: center;
            font-size: 3rem ;
            font-family:$tipografia-secundaria;
            text-transform: uppercase;
            font-weight: bold; 
            background-color:nth($colores, 2);
            border-radius: 1rem;
            padding: 1rem;
        }
        p{
            font-size: 1rem ;
            font-family:$tipografia-secundaria;
            text-align: center;
            font-weight: bold;
            background-color:nth($colores, 2);
            border-radius: 1rem;
            padding: 1rem;
            
        }
    }
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        .tarjeta{
            background-color:nth($colores, 2);
            width: 100%;
            height: 100%;
            padding: 1rem;
            margin: 1rem ;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 3rem;
            img{
                width: 100%;
            
                border-radius: 50%;
                padding: 5px;
            }
            h2{
                text-align: center;
                font-size: 2rem ;
                font-family:$tipografia-secundaria;
                text-transform: uppercase;
                font-weight: bold; 
                

            }
            p{
                font-size: 1rem ;
                font-family:$tipografia-secundaria;
                text-align: center;
                font-weight: bold;
                
            }
        }
    }
}
.contenedorDesayuno{
    background-image: url(../img/fondo.jpg);
    background-size:cover;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    .mainDesayuno{
        margin: 5rem ;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div.main{
            margin: 1rem;
            padding: 1rem;
        
            h1{
                display: inline-block;
                background-color:nth($colores, 2);
                text-align: center;
                font-size: 3rem ;
                font-family:$tipografia-secundaria;
                text-transform: uppercase;
                font-weight: bold; 
                padding: 1rem;
                border-radius: 3rem;
            }
            p{
                padding: 1rem;
                border-radius: 3rem;
                background-color:nth($colores, 2);
                font-size: 1rem ;
                font-family:$tipografia-secundaria;
                text-align: center;
                font-weight: bold;
            }
        }
        img{
            margin-top: 3rem;
            margin-bottom: 1.5rem;
            width: 60%;
            height: 70%;
            border-radius:3rem;
            border: 4px solid black;
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
    }
    .sectionDesayuno{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem 5rem ;
        padding: 1rem;
        div{
            h2{
                text-align: center;
                background-color:nth($colores, 2);
                font-size: 3rem ;
                font-family:$tipografia-secundaria;
                text-transform: uppercase;
                font-weight: bold; 
                border-radius:3rem;
                padding: 1rem;
            }
            p{
                background-color:nth($colores, 2);
                font-size: 1rem ;
                font-family:$tipografia-secundaria;
                text-align: center;
                font-weight: bold;
                border-radius:3rem;
                padding: 1rem;
            }
        }
        img{
            margin-left: 1rem;
            margin-right: 3rem;
            width: 30%;
            height: 30%;
            border-radius:50%;
            border: 4px solid black;
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }

    }
    .sectionDosDesayuno{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        div{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 5rem ;
            padding: 3rem;
            h3{
                text-align: center;
                font-size: 3rem ;
                font-family:$tipografia-secundaria;
                text-transform: uppercase;
                font-weight: bold; 
                background-color:nth($colores, 2);
                border-radius: 3rem;
            }
            p{
                font-size: 1rem ;
                font-family:$tipografia-secundaria;
                text-align: center;
                font-weight: bold;
                background-color:nth($colores, 2);
                border-radius: 3rem;
                padding: 1rem;
            }
            img.cafe{
                border: 4px solid black;
                border-radius: 3rem;
                width: 80%;
                margin: 1.5rem;
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            }
            img.img{
                border: 4px solid black;
                margin-bottom: 1.5rem;
                margin-top: 1.5rem;
                height: 150%;
                width: 100%;
                border-radius: 3rem;
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            }
        }
    }
}
.contenedorVianda{
    background-image: url(../img/fondo.jpg);
    background-size:cover; 

    .mainVianda{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .main{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color:nth($colores, 2);
            margin: 3rem ;
            padding: 2rem;
            border-radius: 3rem;
            text-align: center;
            h1{
                font-size: 2rem ;
                font-family:$tipografia-secundaria;
                text-transform: uppercase;
                font-weight: bold; 
                border-radius: 3rem;
                padding: 1rem;
            }
            h2{
                font-size: 2rem ;
                font-family:$tipografia-secundaria;
                text-transform: uppercase;
                font-weight: bold;
            }
            p{
                font-size: 1rem ;
                font-family:$tipografia-secundaria;
                font-weight: bold;
            }  
        }
        .videos{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 3rem ;
            padding: 2rem;
            border-radius: 3rem;
            div{
                margin: 1rem ;
                padding: 1rem;
                h3{
                    margin-bottom: 2rem;
                    text-align: center;
                    font-size: 2rem ;
                    font-family:$tipografia-secundaria;
                    text-transform: uppercase;
                    font-weight: bold; 
                    background-color:nth($colores, 2);
                    border-radius: 3rem;
                    padding: 1rem;
                }
                iframe{
                    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                    border: 4px solid black;
                    border-radius: 3rem;
                }
            }
            div{
                margin-top: 4rem;
                padding: 1rem;
                h3{
                    margin-bottom: 2rem;
                    text-align: center;
                    font-size: 2rem ;
                    font-family:$tipografia-secundaria;
                    text-transform: uppercase;
                    font-weight: bold; 
                    background-color:nth($colores, 2);
                    border-radius: 3rem;
                    padding: 1rem;
                }
            }
        }
    }

   
}
.contenedorReposteria{
    background-image: url(../img/fondo.jpg);
    background-size:cover; 

    
}
.bootstrap{
    background-image: url(../img/fondo.jpg);
    background-size:cover; 
}





