$colores: rgb(187, 120, 165), rgb(235, 76, 126), rgb(204, 68, 33), rgb(248, 248, 147), rgb(255, 121, 164), rgb(245, 94, 141);
$color: rgb(76, 202, 90), rgb(18, 140, 126), rgb(239, 14, 14), rgb(190, 16, 16);
$animaciones: animate__fadeOutUp, animate__fadeOutUpBig, animate__shakeY;